*{
  box-sizing: border-box;
  margin: 0px;
}

html, body, #root, .App {
  background-color: black;
  scroll-behavior:auto;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
